@keyframes planet_pulse {
	0%,
	100% {
		transform: rotate(0deg);
		filter: blur(0);
	}
	25% {
		transform: rotate(-5deg);
		filter: blur(0);
	}
	50% {
		transform: rotate(0deg);
		filter: blur(5px);
	}
	75% {
		transform: rotate(5deg);
		filter: blur(0);
	}
}
