footer {
    background-color: var(--color-primary);
    background: $gradient-standard;

    * {
        color: var(--color-background);
    }

    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}